<app-nav-bar></app-nav-bar>

<h2>Cadastro de Usuários</h2>
<div class="container">
    <table>
        <tr class="title">
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>Email</td>
            <td>Telefone</td>
        </tr>
    </table>
</div>