<div class="container">
    <div>
        <ul>
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['pesquisar']">Pesquisar Usuários</a></li>
            <li><a [routerLink]="['cadastrar']">Cadastrar Usuários</a></li>
            <li><a href="https://www.linkedin.com/in/tiago-backend?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">LinkedIn</a></li>
            <li><a href="https://github.com/tiagojosedasilva">GitHub</a></li>
            <li><a [routerLink]="['cadastrar']">Instagram</a></li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>


