.container{
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: 'Segoe UI';
}
.form{
    margin-top: 20px;
    border-radius: 10px;
    background: rgb(2, 2, 122);
    padding: 20px;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form:hover{
    transition: 0.2s;
    width: 505px;
    box-shadow: 20px 15px 15px rgb(51, 51, 51);
}
input{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
}
input:hover, :focus{
    margin: 10px 0;
    padding: 13px 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
    transition: 0.8s;
    text-align: center;
}
button{
    background-color: rgb(1, 1, 87);
    border: none;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    color: rgb(139, 139, 139);
}
button:hover{
    box-shadow: 20px 15px 15px rgb(1, 1, 87);
    background-color: rgb(177, 177, 177);
    transition: 0.5s;
    color: black;
}
thead{
    background-color: rgb(202, 200, 200);
    border-radius: 10px;
}
th{
    border-radius: 5px;
}
td{
    border: 1px solid rgb(202, 200, 200);
    text-align: center;
    padding: 0 20px;
}
